.container {
  display: flex;
  .select {
    height: 500px;
    width: 500px;
    background-color: yellowgreen;
  }
  .bubble {
    height: 500px;
    width: 500px;
    background-color: yellowgreen;
  }
  .quick {
    height: 500px;
    width: 500px;
    background-color: yellowgreen;
  }
}
