.container{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  .main{
    height:500px;
    width: 500px;
    background-color: yellowgreen;
  }
  .nantuta{
    height:500px;
    width: 500px;
    background-color: yellowgreen;
  }
  .data-zoom{
    height:500px;
    width: 500px;
    background-color: rgb(45, 46, 42);
  }
  .data-zoom1{
    height:500px;
    width: 500px;
    background-color: rgb(45, 46, 42);
  }
}

